<form (ngSubmit)="onSubmit()" method="POST" [formGroup]="codeBlockForm">
    <input name="Name" formControlName="name" placeholder="Name" autocomplete="off" type="text">
    <textarea rows="15" formControlName="code" placeholder="code" autocomplete="off" spellcheck="false" wrap="soft"
        name="Code"></textarea>
    <input name="Tags" formControlName="tags" placeholder="Tags" autocomplete="off" type="text">
    <div class="button-group">
        <button id="clear-button" (click)="resetForm()">Clear</button>
        <button [disabled]="!codeBlockForm.valid">Add</button>
    </div>
</form>