form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

input {
  margin: 5px;
  width: 90%;
  height: 25px;
  border-radius: 4px;
  font-family: "Comic Neue", cursive;
}

input::placeholder {
  font-style: italic;
  margin-left: 2px;
  color: black;
}

// textarea {
//   width: 90%;
//   max-width: 90%;
//   min-width: 90%;
//   border-radius: 4px;
//   font-family: "JetBrains Mono", monospace;
// }

// textarea::placeholder {
//   font-family: "JetBrains Mono", monospace;
// }

button {
  background-color: orange;
}

button:disabled {
  background-color: gray;
}

.button-group {
  width: 91%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

#clear-button {
  color: whitesmoke;
  background-color: crimson;
  margin-right: 25px;
}

#clear-button:hover {
  background-color: rgb(221, 33, 71);
}

mat-chip-list {
  min-width: 91%;
  max-width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

input.mat-chip-input {
  min-width: 90%;
}

input.mat-chip-input::placeholder {
  opacity: 1;
  color: black;
}

mat-chip > span {
  margin: 0 0 5px 10px;
}

mat-chip {
  opacity: 1;
  font-weight: bold;
  font-family: "JetBrains", monospace;
}
