<form (ngSubmit)="onSubmit()" method="POST" [formGroup]="codeBlockForm">
    <div class="mb-3">
        <input class="form-control" type="text" autofocus name="Name" maxlength="150" formControlName="name"
            placeholder="Name" autocomplete="off">
    </div>
    <ngx-monaco-editor class="form-control" formControlName="code" [options]="cbService.editorOptions">
    </ngx-monaco-editor>

    <div class="chip-input">
        <mat-chip-list class="" #chipList>
            <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
                {{tag}}
                <span matChipRemove class="material-icons">cancel</span>
            </mat-chip>
            <input class="form-control" placeholder="Tags (Press Enter to add)" autocomplete="off"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
    </div>

    <button class="btn btn-danger" type="button" (click)="resetForm()">Clear</button>
    <button class="btn btn-primary" [disabled]="!codeBlockForm.valid || !tags.length">Add</button>

</form>