// Theme colors
$base-color: rgb(187, 12, 12);
$secondary-color: darkorange;

nav {
  display: flex;
  position: fixed;
  height: 60px;
  background-color: $base-color;
  width: 100%;
  justify-content: space-evenly;
  z-index: 1;
}

.placeholder {
  height: 60px;
  z-index: -1;
}

ul {
  list-style: none;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

li {
  padding: 10px 20px;
  margin: 10px;
  font-size: medium;
  cursor: pointer;
  background-color: $secondary-color;
  border: 2px solid black;
}

.logout {
  background-color: initial;
  border: 2px solid white;
  color: white;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.active {
  text-decoration: underline;
  text-underline-offset: 1px;
}

// Move buttons to left of nav
.routing-buttons-container {
  display: flex;
  margin-right: auto;
}

#network-stat {
  // margin: 5px;
  padding: 4px;
  max-height: 10px;
  max-width: 10px;
  border-radius: 10px;
  color: whitesmoke;
  background-color: red;
  border: 2px solid whitesmoke;
}

span {
  // margin: 0 0 5px 10px;
  // width: 2px;
  // height: 2px;
}

#menu-button {
  display: none;
}

@media (max-width: 768px) {
  #menu-button {
    display: initial;
    height: 60px;
    // width: 40px;
    padding: 0;
    background: transparent;
    border: none;
    span {
      font-size: 40px;
    }
    justify-self: flex-start;
    position: fixed;
    top: 0;
  }

  .open {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;

    ul,
    .routing-buttons-container {
      display: flex;
      width: 100%;
      padding: 0;
      justify-content: flex-start;
      justify-self: start;
    }

    .logout {
      display: initial;
    }

    li {
      width: 70%;
      height: 30px;
      font-size: 22px;
    }
  }

  nav {
    justify-content: space-between;
    flex-flow: column nowrap;
    // display: block;
  }

  ul,
  .routing-buttons-container,
  .logout {
    flex-flow: column nowrap;
    align-items: center;
    display: none;
  }

  li {
    width: 100%;
  }
}
