<nav [class.open]="isMobileMenuOpen">
    <button id="menu-button" (click)="toggleMobileMenu()"><span class="material-icons">{{!isMobileMenuOpen ? "menu":
            "close"}}</span></button>
    <ul (click)="isMobileMenuOpen = false">
        <div *ngIf="authService.isLoggedIn" class="routing-buttons-container">
            <li routerLink="add-to-list" routerLinkActive="active">Add</li>
            <li routerLink="code-list" routerLinkActive="active">View</li>
        </div>

        <li *ngIf="!isOnline" title="You're Offline, features are limited" id="network-stat">
        </li>
        <ng-container *ngIf="!authService.isLoggedIn">
            <li routerLink="signup" routerLinkActive="active">Signup</li>
            <li routerLink="login" routerLinkActive="active">Login</li>
        </ng-container>
        <li *ngIf="authService.isLoggedIn" class="logout" (click)="logout()">Logout</li>
    </ul>
</nav>
<div class="placeholder"></div>