nav {
    display: flex;
    position: fixed;
    height: 70px;
    background-color: crimson;
    width: 100%;
    justify-content: space-evenly;
}

.placeholder{
    height: 70px;
    z-index: -1;
}

ul {
    list-style: none;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

li {
    background-color: darkorange;
    margin: 10px;
    padding: 10px 20px;
    font-size: large;
    border: 1px solid black;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

// Move buttons to left of nav
.routing-buttons-container{
    display: flex;
    margin-right: auto;
}
