<h1>Code list</h1>
<mat-chip-list #chipList>
    <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
        {{tag}}
        <span matChipRemove class="material-icons">cancel</span>
    </mat-chip>
    <input class="form-control" placeholder="Tags; (Press Space to add)" autocomplete="off" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
</mat-chip-list>
<ul>
    <li *ngFor="let codeBlock of searchedCodeBlocks">
        <app-code-block-element (blockDeleted)="removeFromList($event)" [codeBlock]="codeBlock">
        </app-code-block-element>
    </li>
</ul>
<ng-container *ngIf="!(codeBlocks.length)">
    <app-placeholder-display [displayText]="noBlocksMessage"></app-placeholder-display>
</ng-container>