section {
  // min-height: 80%;
}

ul {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-height: 78vh;
  border-radius: 4px;
  overflow-y: hidden;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

li {
  margin: 5px 0;
  border-radius: 4px;
}

mat-chip-list {
  min-width: 91%;
  max-width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

input.mat-chip-input::placeholder {
  opacity: 0.8;
  color: black;
}

mat-chip > span {
  margin: 0 0 5px 10px;
}

mat-chip {
  opacity: 1;
  font-weight: bold;
  font-family: "JetBrains", monospace;
}
