<div *ngIf="showPopup" @fadeUp id="popup-container">
    <span id="popup">Copied!</span>
</div>
<section>
    <div>
        <span class="text-start">{{codeBlock.name}}</span>
        <div class="copy-section">
            <ng-container *ngIf="deleteQueue">
                <span class="copy-message">Are you sure?</span>
                <button class="decision-buttons" (click)="deleteBlock()">Yes</button>
                <button class="decision-buttons" (click)="deleteQueue = false">No</button>
            </ng-container>

            <button *ngIf="!deleteQueue" (click)="deleteQueue = true">Delete</button>
            <button [class.queue-background]="editMode" (click)="toggleEditMode()">{{updateButtonLabel}}</button>
            <button (click)="copyCode()">{{copyButtonLabel}}</button>
        </div>
    </div>

    <!-- <div id="editor-container"> -->
    <p class="code">
        <ngx-monaco-editor [class.highlight]="editMode" (init)="editorInit($event)" [(ngModel)]="codeBlock.code"
            [options]="cbService.editorOptions">
        </ngx-monaco-editor>
        <!-- <code>{{codeBlock.code}}</code> -->
    </p>

    <div id="chip-container">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of codeBlock.tags">
                {{tag}}
            </mat-chip>
        </mat-chip-list>
    </div>

    <!-- <p class="text text-end">{{codeBlock.tags}}</p> -->
</section>