<section class="mb-3 container">
    <div class="row">
        <span class="col">{{codeBlock.name}}</span>

        <div class="col content">
            <!-- <ng-container class="col">
                    <span class="copy-message">Are you sure?</span>
                    <button class="btn btn-outline-primary" (click)="deleteBlock()">Yes</button>
                    <button class="btn btn-outline-primary" (click)="deleteQueue = false">No</button>
                </ng-container> -->

            <div class="col">
                <button class="btn btn-danger" *ngIf="!deleteQueue" (click)="deleteBlock()">Delete</button>
                <button class="btn btn-info" [class.queue-background]="editMode"
                    (click)="toggleEditMode()">{{updateButtonLabel}}</button>
                <button class="btn btn-success" (click)="copyCode()">{{copyButtonLabel}}</button>
            </div>

        </div>
    </div>

    <p class="code">
        <ngx-monaco-editor class="form-control" [class.highlight]="editMode" (init)="editorInit($event)"
            [(ngModel)]="codeBlock.code" [options]="cbService.editorOptions">
        </ngx-monaco-editor>
    </p>

    <div id="chip-container">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let tag of codeBlock.tags">
                {{tag}}
            </mat-chip>
        </mat-chip-list>
    </div>

</section>