<div *ngIf="showPopup" @fadeUp id="popup-container">
    <span id="popup">Copied!</span>
</div>
<section>
    <div>
        <span class="text-start">{{codeBlock.name}}</span>
        <div class="copy-section">
            <span class="copy-message">Double click or</span>
            <button (click)="copyCode()">Copy</button>
        </div>
    </div>

    <p (dblclick)="copyCode()" class="code">
        <code>{{codeBlock.code}}</code>
    </p>

    <p class="text text-end">{{codeBlock.tags}}</p>
</section>