@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Theme colors
$base-color: crimson;
$backgroung: #4d4d4d;
// $backgroung: #f7f9fb;
// $backgroung: #54900fb0;

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: $backgroung;
}

button {
  cursor: pointer;
  border-radius: 5px;
  height: 35px;
  width: 100px;
}

/* Class Styles */
.backplate-section {
  background-color: gray;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: auto;
  padding-bottom: 40px;
}

html,
body {
  height: 100%;
}

ngx-monaco-editor {
  height: 400px;
  max-width: 91%;
  min-width: 91%;
  border-radius: 4px;
  white-space: pre-wrap;
  text-align: start;
}

button:disabled {
  background-color: gray;
}

.snackbar {
  background: rgb(165, 141, 141);
  color: black;
}

// Show/Hide password
.checkbox-container {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  margin-top: -15px;
  margin-left: -20px;
  // padding-left: -5px;
}

.checkbox-element {
  flex: 0 5 17px;
  margin-right: 5px;
  cursor: pointer;
}

.checkbox-label {
  flex: 1 1 auto;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 1;
  font-size: 14px;
  font-family: "Comic Neue", cursive, "Times New Roman", Times, serif;
}

@media (max-width: 768px) {
  .backplate-section {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  form {
    input {
      height: 38px !important;
      font-size: 22px;
    }

    .checkbox-label {
      font-size: 20px;
    }

    .checkbox-element {
      flex-basis: 24px;
    }

    .checkbox-container {
      margin-bottom: 10px;
    }

    button {
      width: 50%;
      height: 50px;
      font-size: 20px;
    }
  }
}
