footer {
  display: flex;
  margin: 0 auto;
  bottom: 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: fixed;
}

.copyright-section {
  background-color: rgba(170, 166, 166, 0.8);
  //   padding: 0;
  //   margin: 0 auto;
  bottom: 0;
  //   position: fixed;
  //   margin-top: 11px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyright-text {
  margin-top: 11px;
  //   margin-bottom: 0;
}
